/*#region common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bool-header:#FF6900;
    --bool-primary-light:#FFFCFA;
    --bool-body:#FFFFFF;
    --bool-danger:#FF0000;
    --bool-success:#008000;
    --bool-dark:#1A1A1A;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}
/*#endregion commmon*/

/*#region utilities*/
.header_container{
    width: 100%;
    position: relative;
    height: 7vh;
}

.lg-container{
    width: 70%;
    max-width: 1176px;
    margin: auto;
}

.sm_container{
    width: calc(100%/6);
}
.footer_container{}

.row{
    display: :flex;
    flex-wrap: wrap;
    margin: 0-1rem;
}

.col-4{
padding: 1rem;
width: calc((100%/12)*4);
}

.d-flex{
    display:flex;
}

.align-items-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-end{
    justify-content: flex-end;
}
.text-end{
    text-align: end;
}

.text-center{
    text-align: center;
}
.padding
/*#endregion utilies*/

/*#region header*/

.menu-category{          /* left*/
    position: fixed;
    top: 0;
    left: 0;
}

.menu-category ul{
 display: inline-block;
}
& li{
    text-align: center;
    padding: 2vh;
}

.menu-category li{
   float: left;
}

.menu-actions{             /* right*/
    position: fixed;
    top: 0;
    right: 0;
}
 
.menu-actions ul{
    display: inline-block;
}7
& li{
 text-align: center;
 padding: 2vh; 
}

.menu-actions li{
    float: right; 
}  

.logo{                    /*center*/
  height: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%) ;
}

/*#endregion header*/



/*#region debug*/
.debug{
    background-color: red;
}

.debug header{
    background-color: yellow;
}

.debug .header_container{
    background-color: aqua;
}

.debug .lg-container{
    background-color: #008000;
    height: 100vh;
}

.debug .sm_container{
    background-color: pink;
    margin: 3px dotted solid violet;
}
/*#endregion debug*/

